<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>11:00</td>  <td>Introduction of Data carpentry- tools & rules</td> </tr>
      <tr> <td>11:45</td>  <td>Installation and configuration of OpenRefine in Linux and Windows environment</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Concept of REST/API and sources for API-enabled ODbL datasets</td> </tr>
      <tr> <td>14:45</td>  <td>Experiment with data fetching and data extraction in OpenRefine (Open Access Status determination)</td> </tr>
      <tr> <td>15:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
     <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>11:00</td>  <td>Library carpentry for citation and altmetric data</td> </tr>
      <tr> <td>11:45</td>  <td>Deep faceting of data and GRELs in depth</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td>Data reconciliation -concept and tools</td> </tr>
      <tr> <td>14:45</td>  <td>MARC data import/export in/from OpenRefine and Data reconciliation - name authority Subject authority</td> </tr>
      <tr> <td>15:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
